    /*First mobile*/

body {
    background-image: url(./images/bg-body.png);
    font-family: Verdana, sans-serif;
}
    /*header*/

.main-header{
    width: 100%;
    position: relative;
}
.main-header img{
    position: relative;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    top: 15px;
    border-radius: 120px;
    margin-bottom: 5%;
}
.centrado{
    text-align:center;
    border:1px dotted #000; 
    padding-bottom: 10px;
    padding-top: 5px;
}
.toggle-nav {
    position: relative;
    margin-left: 45vw;
    top: 30px;
    color: black;
}
.main-nav {
    margin-top: 15%;
}
.main-nav ul {
    display: block;
    list-style: none;
    position: relative;
    margin-right: 4%;
    margin-top: 6vw;
    padding-left: 5vw;
}
.main-nav li {
    background-color: #494949;
    position: block;
    border-bottom: 1px solid white;
}
.main-nav li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 60%;
}

    /*Articulos*/

.product {
    margin-bottom: 6vw;
}
.photo {
    position: relative;
    width: 100%;
}
.special {
    position: absolute;
    width: 17%;
    margin-left: -18%;
    margin-top: 0vw;
}
.zoom {
    text-align: center;
    background-color: black; 
    display: block;
    position: relative;
    bottom: 30vw;
    opacity: 0.5;
    color: white;
    text-decoration: none;
}
.more {
    background-color: #494949;
    text-decoration: none;
    color: white;
    font-size: 70%;
    margin-left: 3vw;
    padding: 2vw;
}
h2 {
    margin-left: 4vw;
    margin-top: -1vw;
}
p {
    margin-left: 2vw;
    margin-bottom: 5vw;
}

    /* Footer */

.main-footer ul {
    display: block;
    list-style: none;
    position: relative;
    margin-right: 4%;
    margin-top: 6vw;
    padding-left: 5vw;
}
.main-footer li{
    background-color: #b92519;
    position: block;
    border-bottom: 1px solid white;
}
.main-footer li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 60%;
}

    /* Tablet */
@media (min-width: 426px) { 
    .main-header img {
        border-radius: 215px;
        width: 15vw;
        margin-left: 42.5vw;
        margin-right: 42.5vw;
    }     
    .toggle-nav{
        display: none;
    }
    .main-nav {
        margin-left: 0vw;
        margin-right: 4vw;
        margin-top: 0vw;
    }
    .main-nav ul {
        display: flex;
        justify-content: space-between;
        margin: 1vw;
    }
    .main-nav li {
        font-size: 12px;
        padding: 5px;
        width: 100%;
        margin-left: 2vw;
    }
    .banner img {
      display: block;
      position: relative;
      padding-bottom: 10px;
      width: 100%;
    }
    .vip-products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .product {
      width: 48vw;
    }
    .special {
        width: 10vw;
        margin-left: -12vw;
    }
    .zoom {
        bottom: 14vw;
    }
  }
  
        /*Desktop*/

@media (min-width: 769px) {  
    .main-header img {
        border-radius: 215px;
        width: 15vw;
        margin-left: 42.5vw;
        margin-right: 42.5vw;
    }
    .main-nav {
      margin-top: 0px;
      margin-bottom: 20px;
      padding-left: 5vw;
      padding-right: 5vw;
    }
    .main-nav ul {
      height: 50px;
    }
    .main-nav li {
      justify-content: center;
      align-items: center;
      font-size: 25px;
      margin-left: 1vw;
    }
    .vip-products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 6vw;
      margin-right: 6vw;
    }
    .product {
      max-width: 270px;
      margin: 20px 0;
    }
    .special {
        width: 6vw;
        margin-left: -7vw;
    }
    .zoom {
        bottom: 8vw;
    }
    .more{
        padding: 1vw;
    }
    .main-footer ul {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #b92519;
      border-top-left-radius: 50px 50px;
      border-top-right-radius: 50px 50px;
      height: 120px;
    }
  
    .main-footer li {
      color: white;
      border: none;
      font-size: 2vw;
    }
  
    .main-footer li + li:before {
      content: " | ";
      padding: 0 5px;
      font-weight: bold;
    }
  }